
	<%= link_to 'New', new_work_path %>
	<% @works.each do |w|%>
	<div class="row span10">
		<h4><%= w.title %></h4>
		<p><%= w.body %></p>
		<p><%= w.image.url %></p>
		<%= link_to 'Edit', edit_tech_path(w) %>
		<%= link_to 'Destroy', w, :confirm => 'Are you sure?', :method => :delete %>
	</div>
	<% end %>



