<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Mike Falkowski</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="linearBg2"><a href="#"><%= image_tag "falko_logo.png" %></a></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#/about">About Me</a></li>
					<li><a href="#/work">My Projects</a></li>
				</ul>

			</div>

			<div class="span10" ng-view>

			</div>
		</div>
	</div>


</body>
</html>
